name: copilot_team_metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *" # daily at 02:00 UTC (change as needed)

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests python-dotenv

      - name: Run sync
        env:
          ENTERPRISE: ${{ secrets.ENTERPRISE }}
          # GITHUB_TEAM_SLUG: ${{ secrets.TEAM_SLUG }}
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
      
        run: |
          python fetch_ent_team_copilot_metrics.py

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: metrics-report
          path: metrics.csv
